@font-face {
  font-family: "iconfont"; /* Project id 3329627 */
  src: url('iconfont.woff2?t=1649988621594') format('woff2'),
       url('iconfont.woff?t=1649988621594') format('woff'),
       url('iconfont.ttf?t=1649988621594') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e66b";
}

.icon-skin:before {
  content: "\e601";
}

.icon-setting:before {
  content: "\e6ef";
}

.icon-tinggeshiqu:before {
  content: "\e626";
}

.icon-search:before {
  content: "\e7c4";
}

.icon-logView:before {
  content: "\e600";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

